#btn{
    margin-top: 5px;
    margin-right: 5px;
    text-decoration: none;
	width:auto;
    font-size:x-small;
    font-weight: bold;
    font-family: verdana, arial, helvetica;
    background:green;
    color: #FFFFFF;
    border: 1px inset #6699CC;
    padding: .1em 1em;
}

#btn:hover{
    background:#66CC33;
}