html {
	height: 100%;
	background: #CCC;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	background: #CCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE),
		to(#CCC));
	background: -moz-linear-gradient(top, #EEE, #CCC);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',
		EndColorStr='#CCCCCC');
}

label,text {
	font-size: small;
}

a,a:visited {
	color: green;
	text-decoration: none;
}

h1 {
	font-size: 16px;
	color: black;
	font-weight: normal;
	margin: 0;
}

.title {
	height: 100px;
	width: 100px;
}

.panel {
	position: absolute;
	margin-left: -433px;
	left: 50%;
	background-color: white;
	width: 827px;
	/*min-height: 100%;*/
	height: 1350px;
	padding: 10px 20px;
	text-align: left;
	-moz-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
}

.info-section {
	width: 825px;
	border: 1px solid #333;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	background: #222 url(bg.png) 0 0 repeat-y;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

.form-panel {
	position: relative;
	float: left;
	width: 190px;
	padding: 10px;
	font-size: 12px;
	color: #000;
	background-color: #EEE;
}

.form-sec {
	margin-bottom: 10px;
}

.description {
	position: relative;
	float: left;
	width: 585px;
	padding: 15px;
	color: #FFF;
	font-size: 14px;
}

select {
	width: 190px;
}

label.disable {
	color: #777;
}

.copyright {
	width: 100%;
	text-align: right;
	font-size: 12px;
	margin: 15px 0;
}

.layer-title {
	font-size: 20px;
}

.grad-button {
	width: 120px;
	height: 35px;
	background-color: #000;
	background: -moz-linear-gradient(#555, #000);
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(#555),
		to(#000));
	border: 1px solid #111;
	position: relative;
	line-height: 35px;
	text-align: center;
	color: #efefef;
	text-shadow: 0 1px 0 #222;
	font-size: 14px;
	font-weight: bold;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

a:hover .grad-button {
	color: green;
}

.container {
	width: 100%;
	height: 1100px;
}

#loginForm {
	width: 350px;
	height: 300px;
	position: relative;
	left: 0px;
	padding: 20px;
	margin-top: 2px;
}

#foliolabel {
	position: absolute;
	padding-top: 5px;
	padding-left: 0px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#naclabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 95px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

.nactxt {
	position: absolute;
	left: 150px;
	top: 260px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#foliotxt {
	position: absolute;
	left: 150px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#nombrelabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 15px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#nombretxt {
	position: absolute;
	left: 150px;
	top: 50px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#passwdconflabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 25px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#passwdconftxt {
	position: absolute;
	left: 150px;
	top: 80px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#pnomlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 38px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#pnomtxt {
	position: absolute;
	left: 150px;
	top: 110px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#snomlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 50px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#snomtxt {
	position: absolute;
	left: 150px;
	top: 140px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#paplabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 62px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#paptxt {
	position: absolute;
	left: 150px;
	top: 170px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#maplabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 74px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#maptxt {
	position: absolute;
	left: 150px;
	top: 200px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#esplabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 84px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#esptxt {
	position: absolute;
	left: 150px;
	top: 230px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#processlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 105px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#processtxt {
	position: absolute;
	left: 150px;
	top: 290px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tipoinlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 120px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tipointxt {
	position: absolute;
	left: 150px;
	top: 320px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tiposoltxt {
	position: absolute;
	left: 150px;
	top: 350px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tiposollabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 130px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprovtxt {
	position: absolute;
	left: 150px;
	top: 350px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprovlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 130px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprovytxt {
	position: absolute;
	left: 150px;
	top: 890px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprovytxt2 {
	position: absolute;
	left: 160px;
	top: 405px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprovylabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 655px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprovylabel2 {
	position: absolute;
	padding-left: 0px;
	padding-top: 315px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fechanlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 155px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#aprobacion {
	position: absolute;
	left: 150px;
	top: 410px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#lanzadoraprobacion {
	position: absolute;
	left: 300px;
	top: 410px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#insidentlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 170px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#insidentilabel {
	position: absolute;
	padding-left: 22px;
	padding-top: 196px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#insidentialabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 220px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#insidenttxt {
	position: absolute;
	left: 150px;
	top: 440px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#estatuslabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 235px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#estatuslabel2 {
	position: absolute;
	padding-left: 0px;
	padding-top: 650px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#estatustxt {
	position: absolute;
	left: 150px;
	top: 535px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#estatustxt2 {
	position: absolute;
	left: 150px;
	top: 1105px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}
#prioridadlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 250px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#prioridadtxt {
	position: absolute;
	left: 150px;
	top: 560px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fechamlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 260px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fechamilabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 270px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

/*#lanzadormesa{
    position:absolute;
    left:300px;
    top:590;
    font-size:11px;
    font-weight: normal;
    font-family: verdana, arial, helvetica;
    text-decoration: none;
}*/
#lanzadormesa {
	position: absolute;
	left: 300px;
	top: 590px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#mesa {
	position: absolute;
	left: 150px;
	top: 590px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tplabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 270px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tpilabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 280px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#tptxt {
	position: absolute;
	left: 150px;
	top: 620px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#catlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 283px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#catxt {
	position: absolute;
	left: 150px;
	top: 650px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

/*#lialabel{
    position:absolute;
    padding-left:0px;
    padding-top:295px;
    font-size: 11px;
    font-weight: normal;
    font-family: verdana, arial, helvetica;
    text-decoration: none;
}*/

/*#liatxt{
    position:absolute;
    left:150px;
    top:680px;
    font-size:11px;
    font-weight: normal;
    font-family: verdana, arial, helvetica;
    text-decoration: none;
}*/

/*#ocsilabel{
    position:absolute;
    padding-left:0px;
    padding-top:309px;
    font-size: 11px;
    font-weight: normal;
    font-family: verdana, arial, helvetica;
    text-decoration: none;
}*/

/*#ocsitxt{
    position:absolute;
    left:150px;
    top:710px;
    font-size:11px;
    font-weight: normal;
    font-family: verdana, arial, helvetica;
    text-decoration: none;
}*/
#atenlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 296px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atenlabel2 { /*id en atendio en formualario2*/
	position: absolute;
	padding-left: 0px;
	padding-top: 30px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atenalabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 346px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atenalabel2 {
	position: absolute;
	padding-left: 0px;
	padding-top: 105px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#horallamada {
	position: absolute;
	padding-left: 0px;
	padding-top: 523px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atenatxt {
	position: absolute;
	left: 150px;
	top: 748px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atenatxt2 {
	position: absolute;
	left: 160px;
	top: 140px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#hllamada {
	position: absolute;
	left: 150px;
	top: 965px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atentxt {
	position: absolute;
	left: 150px;
	top: 680px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atentxt2 {
	position: absolute;
	left: 160px;
	top: 46px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fechantlabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 328px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fechantlabel2 {
	position: absolute;
	padding-left: 0px;
	padding-top: 75px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fechallamada {
	position: absolute;
	padding-left: 0px;
	padding-top: 505px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atencion {
	position: absolute;
	left: 150px;
	top: 710px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atencion2 {
	position: absolute;
	left: 150px;
	top: 90px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#fellamada {
	position: absolute;
	left: 150px;
	top: 925px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#lanzadoratencion {
	position: absolute;
	left: 300px;
	top: 810px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#lanzadoratencion2 {
	position: absolute;
	left: 315px;
	top: 710px; 
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#lanzadorfllamada {
	position: absolute;
	left: 315px;
	top: 928px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atachylabel {
	position: absolute;
	padding-left: 0px;
	padding-top: 363px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atachylabel2 {
	position: absolute;
	padding-left: 0px;
	padding-top: 555px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atachylabel3 {
	position: absolute;
	padding-left: 0px;
	padding-top: 365px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atachytxt {
	position: absolute;
	left: 150px;
	top: 790px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atachytxt2 {
	position: absolute;
	left: 160px;
	top: 188px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#atachytxt3 {
	position: absolute;
	left: 150px;
	top: 1000px;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
}

#submit {
	/*Hola*/
	margin-top: 5px;
	margin-right: 5px;
	left: 100px;
	top: 1150px;
	position: absolute;
	float: left;
	text-decoration: none;
	width: 60px;
	font-size: xx-small;
	font-weight: bold;
	font-family: verdana, arial, helvetica;
	background: green;
	color: #FFFFFF;
	border: 1px inset #6699CC;
	padding: .1em 1em;
}

#submit2 {
	margin-top: 5px;
	margin-right: 5px;
	left: 100px;
	top: 590px;
	position: absolute;
	float: left;
	text-decoration: none;
	width: 60px;
	font-size: xx-small;
	font-weight: bold;
	font-family: verdana, arial, helvetica;
	background: green;
	color: #FFFFFF;
	border: 1px inset #6699CC;
	padding: .1em 1em;
}

#submit:hover {
	background: #66CC33;
}

#submit2:hover {
	background: #66CC33;
}

#cancel {
	margin-top: 5px;
	margin-right: 5px;
	left: 200px;
	top: 1150px;
	position: absolute;
	float: left;
	text-decoration: none;
	width: 60px;
	font-size: xx-small;
	font-weight: bold;
	font-family: verdana, arial, helvetica;
	background: green;
	color: #FFFFFF;
	border: 1px inset #6699CC;
	padding: .1em 1em;
}

#cancel2 {
	margin-top: 5px;
	margin-right: 5px;
	left: 200px;
	top: 590px;
	position: absolute;
	float: left;
	text-decoration: none;
	width: 60px;
	font-size: xx-small;
	font-weight: bold;
	font-family: verdana, arial, helvetica;
	background: green;
	color: #FFFFFF;
	border: 1px inset #6699CC;
	padding: .1em 1em;
}

#cancel:hover {
	background: #66CC33;
}

#cancel2:hover {
	background: #66CC33;
}